<h3>Test JSON Document</h3>

{{ember-formly
  fields=fields
  fieldClassName='form-control'
  model=model }}

<div class="outer-wrapper">
  <h3>Test Nested Fragments</h3>

  <p>(see <a href="https://github.com/lytics/ember-data-model-fragments">github.com/lytics/ember-data-model-fragments</a>)</p>

  {{#ember-formly fields=nestedFields as |field|}}
    <div class="inner-wrapper">
      {{ember-formly-field field=field model=model.nested}}
    </div>
  {{/ember-formly}}
</div>
